@page
@model WeFix.Pages.TechnicianSystemModel
@{
    ViewData["Title"] = "Technician System";
}

<h1>Technician System</h1>
<hr />
<div class="row">
    <div class="col-md-7">
        <h3>Today's Appointments</h3>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Vehicle Reg</th>
                    <th>Date</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in Model.AppointmentSummaries.Where(a => a.Date.Date == DateTime.Today))
                {
                    <tr class="appointment-row" data-appointment-id="@appointment.AppointmentId">
                        <td>@appointment.CustomerName</td>
                        <td>@appointment.VehicleReg</td>
                        <td>@appointment.Date</td>
                        <td>@appointment.Description</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <h3>Upcoming Appointments</h3>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Vehicle Reg</th>
                    <th>Date</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in Model.AppointmentSummaries.Where(a => a.Date.Date > DateTime.Today))
                {
                    <tr class="appointment-row" data-appointment-id="@appointment.AppointmentId">
                        <td>@appointment.CustomerName</td>
                        <td>@appointment.VehicleReg</td>
                        <td>@appointment.Date</td>
                        <td>@appointment.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        @if (Model.SelectedAppointmentIndex.HasValue)
        {
            var selectedAppointment = Model.AppointmentSummaries[Model.SelectedAppointmentIndex.Value];
            <div class="card">
                <div class="card-header">
                    Appointment Details
                    <span class="close-button float-right" onclick="closeCard()">&nbsp&nbspX&nbsp&nbsp</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Appointment ID: @selectedAppointment.AppointmentId</h5>
                    <p class="card-text">Customer Name: @selectedAppointment.CustomerName</p>
                    <p class="card-text">Vehicle Reg: @selectedAppointment.VehicleReg</p>
                    <p class="card-text">Date: @selectedAppointment.Date</p>
                    <p class="card-text">Description: @selectedAppointment.Description</p>
                    <form method="post" asp-page-handler="CompleteInspection">
                        <input type="hidden" name="appointmentId" value="@selectedAppointment.AppointmentId" />
                        <button type="submit" class="btn btn-secondary" style="float:left">Complete Inspection</button>
                    </form>
                    <form method="post" asp-page-handler="CompleteJob">
                        <input type="hidden" name="appointmentId" value="@selectedAppointment.AppointmentId" />
                        <button type="submit" class="btn btn-secondary" style="float:right">Complete Job</button>
                    </form>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>function closeCard() {
            window.location.href = '?selectedAppointment=null';
        }

        $('.appointment-row').click(function () {
            var appointmentId = $(this).data('appointment-id');
            window.location.href = '?selectedAppointment=' + appointmentId;
        });</script>
}