@page
@model WeFix.Pages.Appointments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Appointment Booking Service</h2>
<br />

@if (User.IsInRole("SysAdmin") || User.IsInRole("Manager") || User.IsInRole("Technician") || User.IsInRole("Reception"))
{
    <form asp-page="Create"> <button class="btn btn-secondary">Submit request for new customer appointment</button> </form>
}
else
{
    <form asp-page="UserCreate"> <button class="btn btn-secondary">Submit request for new appointment</button> </form>
}


<br />
@if (User.IsInRole("SysAdmin") || User.IsInRole("Manager") || User.IsInRole("Technician") || User.IsInRole("Reception"))
{<h3>View all appointments</h3>}

else if (User.IsInRole("User"))
{<h3>Your Appointments</h3>}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].OwnerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].VehicleReg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Appointment)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.UserNames[item.OwnerID])
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleReg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @if ((await AuthorizationService.AuthorizeAsync(User, item, AppointmentOperations.Update)).Succeeded)
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        <text> | </text>
                    }
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    @if ((await AuthorizationService.AuthorizeAsync(User, item, AppointmentOperations.Delete)).Succeeded)
                    {
                        <text> | </text>
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
